<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    
  </welcome-file-list>  
  
  
  <servlet>
 
 <display-name>RegisterServlet</display-name>
 <servlet-name>RegisterServlet</servlet-name>
 <servlet-class>denote.RegisterServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>RegisterServlet</servlet-name>
 <url-pattern>/RegisterServlet</url-pattern>
 </servlet-mapping>
  
  
  <servlet>
 <description></description>
 <display-name>RegisterServlet</display-name>
 <servlet-name>RegisterServlet1</servlet-name>
 <servlet-class>denote.EditServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>RegisterServlet1</servlet-name>
 <url-pattern>/EditServlet</url-pattern>
 </servlet-mapping>
</web-app>
